:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(33, 33, 33, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --grey-color: rgba(175, 177, 184, 1);
  --grey-text-op60: rgba(255, 255, 255, 0.6);
  --back-header: rgba(229, 229, 229, 1);
  --back-zakaz: rgba(47, 48, 58, 1);
  --back-blue: rgba(33, 150, 243, 1);
  --back-comanda-prod: rgba(245, 244, 250, 1);
}

*,
::after,
::before {
  box-sizing: border-box;
}

header,
section,
footer {
  border: 1px solid blue;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul,
p,
li,
a {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background: var(--white-text);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-right: 50px;
}

.nav-item-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--black-text);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link-studio,
.nav-item-link-portfolio {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--blue-text);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link-studio::after {
  position: absolute;
  content: '';
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--blue-text);
}

.nav-item-link-portfolio::after {
  position: absolute;
  content: '';
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--blue-text);
}

.contacts-item-grey {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--grey-text);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:first-child {
  margin-right: 50px;
}

.hero {
  max-width: 1600px;
  color: var(--white-text);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0 200px 0;
  background-image: url(../images/img-hero.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
}

.hero-btn {
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: var(--back-blue);
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.nav-logo {
  color: var(--black-text);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
}

.text-blue {
  color: var(--blue-text);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
}

.nav {
  text-decoration: none;
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-list,
.contacts-list {
  display: flex;
}

.nav-item-link:hover,
.nav-item-link:focus,
.contacts-item-grey:hover,
.contacts-item-grey:focus {
  color: var(--blue-text);
}

.contacts-list {
  text-decoration: none;
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.about {
  padding: 95px 0 94px 0;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-item {
  margin-right: 30px;
}

.about-item:last-child {
  margin-right: 0px;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.about-text {
  font-weight: 400;
  color: var(--grey-text);
  font-size: 14px;
  line-height: 1.7;
  width: 270px;
  text-align: left;
  margin: 0;
}

.doing {
  padding: 94px 0 94px 0;
}

.doing-list {
  display: flex;
  justify-content: space-between;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  background: var(--back-comanda-prod);
  padding: 94px 0 94px 0;
}

.team-text {
  font-weight: 400;
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-image {
  margin-bottom: 10px;
}

.team-title-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
}

.portfolio-list-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 0 50px 0;
}

.portfolio-item-btn {
  margin-right: 30px;
}

.portfolio-item-btn:last-child {
  margin-right: 0px;
}

.portfolio-item-btn:hover,
.portfolio-item-btn:focus,
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-text);
  background: var(--back-blue);
  border-radius: 4px;
}

.portfolio-btn {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-decoration: none;
  color: var(--black-text);
  background: rgba(245, 244, 250, 1);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-child(n + 7) {
  margin-bottom: 94px;
}

.footer {
  background: var(--back-zakaz);
  padding: 60px 0 60px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* .about-text-footer {
  font-weight: 400;
  color: var(--grey-text);
  font-size: 14px;
  line-height: 1.7;
  width: 270px;
  text-align: left;
  margin: 0;
} */

.footer-list {
  display: flex;
}

.team-icon-footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: var(--back-zakaz);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-footer:hover,
.team-icon-footer:focus {
  background: var(--blue-text);
}

.nav-logo-footer {
  color: var(--white-text);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}

.text-blue {
  color: var(--blue-text);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
}

.footer-adress {
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  margin-bottom: 9px;
}

.footer-item-adress {
  margin-right: 70px;
}

.footer-item-join {
  text-align: center;
}

.footer-mail {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.17;
  color: var(--grey-text);
  margin-bottom: 9px;
}

.footer-tel {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.17;
  color: var(--grey-text);
}

.title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--white-text);
}

.nav-icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.nav-icon-smartphone {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.nav-icon-antenna-1-1 {
  width: 65px;
  height: 70px;
}

.nav-icon-clock-1-1 {
  width: 67px;
  height: 70px;
}

.icon-diagram-1-1 {
  width: 65px;
  height: 70px;
}

.icon-astronaut-1-1 {
  width: 65px;
  height: 70px;
}

.nav-icon-instagram-2-1 {
  width: 20px;
  height: 20px;
  fill: var(--grey-color);
}

.nav-icon-twitter-1 {
  width: 20px;
  height: 20px;
  fill: var(--grey-color);
}

.nav-icon-facebook-1-1 {
  width: 20px;
  height: 20px;
  fill: var(--grey-color);
}

.nav-icon-linkedin-1-1 {
  width: 20px;
  height: 20px;
  fill: var(--grey-color);
}

.nav-icon-logo-1-1 {
  width: 41px;
  height: 47px;
  fill: var(--grey-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
}

.nav-icon-logo-2-1 {
  width: 40px;
  height: 52px;
  fill: var(--grey-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon-logo-3-1 {
  width: 43px;
  height: 41px;
  fill: var(--grey-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon-logo-4-1 {
  width: 84px;
  height: 40px;
  fill: var(--grey-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon-logo-5-1 {
  width: 63px;
  height: 45px;
  fill: var(--grey-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon-logo-6-1 {
  width: 94px;
  height: 45px;
  fill: var(--grey-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: var(--white-text);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-bottom: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon:hover,
.team-icon:focus {
  background: var(--blue-text);
}

.team-icon:hover .nav-icon-instagram-2-1 {
  fill: var(--white-text);
}

.team-icon-footer:hover .nav-icon-instagram-2-1 {
  fill: var(--white-text);
}

.team-icon:hover .nav-icon-twitter-1 {
  fill: var(--white-text);
}

.team-icon-footer:hover .nav-icon-twitter-1 {
  fill: var(--white-text);
}

.team-icon:hover .nav-icon-facebook-1-1 {
  fill: var(--white-text);
}

.team-icon-footer:hover .nav-icon-facebook-1-1 {
  fill: var(--white-text);
}

.team-icon:hover .nav-icon-linkedin-1-1 {
  fill: var(--white-text);
}

.team-icon-footer:hover .nav-icon-linkedin-1-1 {
  fill: var(--white-text);
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.contacts-item:hover,
.contacts-item:focus {
  fill: var(--blue-text);
}

.contacts-item-grey {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.about-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--back-comanda-prod);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.team-container {
  text-align: center;
  background: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.clients {
  padding-top: 94px;
}

.clients-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--white-text);
  width: 170px;
  height: 92px;
  margin-bottom: 94px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover,
.clients-item:focus {
  border-color: var(--blue-text);
}

.clients-item:hover .nav-icon-logo-1-1 {
  fill: var(--blue-text);
}

.clients-item:hover .nav-icon-logo-2-1 {
  fill: var(--blue-text);
}

.clients-item:hover .nav-icon-logo-3-1 {
  fill: var(--blue-text);
}

.clients-item:hover .nav-icon-logo-4-1 {
  fill: var(--blue-text);
}

.clients-item:hover .nav-icon-logo-5-1 {
  fill: var(--blue-text);
}

.clients-item:hover .nav-icon-logo-6-1 {
  fill: var(--blue-text);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.click-window {
  position: relative;
  list-style: none;
  text-decoration: none;
  color: var(--black-text);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--white-text);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.js-speaker-form {
  margin-bottom: 40px;
}

.link-icon-close {
  display: flex;
  position: absolute;
  padding: 0;
  background: no-repeat;
  border-radius: 50%;
  top: 8px;
  right: 8px;
}

.nav-icon-close {
  width: 30px;
  height: 30px;
}

.link-icon-close:hover,
.link-icon-close:focus {
  border-color: var(--blue-text);
  cursor: pointer;
}

.link-icon-close:hover .nav-icon-close {
  fill: var(--blue-text);
}

.form-text {
  display: flex;
  color: var(--black-text);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 40px 40px 12px 40px;
}

.form-field {
  position: relative;
}

.label-name {
  position: relative;
  display: inline-block;
  margin: 0px 40px 10px 40px;
}

.modal-input-coment {
  margin: 0;
  width: 448px;
  height: 120px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  font: inherit;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-coment:hover {
  border-color: var(--blue-text);
  cursor: pointer;
}

.modal-input-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.button-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: 1px;
  margin-top: 30px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white-text);
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.group-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 7px;
}

.checkbox:checked + .group-check {
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.text-check {
  display: inline-flex;
  align-items: center;
  margin-left: 54px;
}

.text-check,
.link-check {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.link-check {
  color: var(--blue-text);
  margin-left: 5px;
}

.name-form {
  display: block;
  color: var(--grey-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input-type {
  display: flex;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.nav-icon-person {
  position: absolute;
  left: 15px;
  bottom: 14px;
  top: 50%;
  width: 18px;
  height: 18px;
  fill: var(--black-text);
}

.input-type:hover,
.input-type:focus,
.input-comment:hover,
.input-comment:focus {
  border-color: var(--blue-text);
  cursor: pointer;
}

.label-name:hover .nav-icon-person {
  fill: var(--blue-text);
}

.doing-item {
  display: block;
  position: relative;
}

.doing-text {
  color: var(--white-text);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.doing-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 70px;
  padding: 27px 83px 27px 82px;
  background-color: rgba(47, 48, 58, 0.8);
}

.doing-img {
  position: relative;
  z-index: 1;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.click-img {
  position: relative;
  overflow: hidden;
}

.card-thumb {
  position: absolute;
}

.click-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .click-overlay {
  transform: translateY(0);
  opacity: 1;
}

.click-overlay-text {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--white-text);
  padding: 63px 25px 63px 25px;
}

img {
  display: block;
}
