@import 'base/normalize';
@import 'utils/mixins';
@import 'utils/variables';
@import 'base/defaults';
@import 'components/header';
@import 'components/hero';
@import 'components/about';
@import 'components/doing';
@import 'components/team';
@import 'components/portfolio';
@import 'components/footer';
@import 'components/icon';
@import 'components/clients';
@import 'components/modal_window';

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.card-thumb {
  position: absolute;
}

img {
  display: block;
}
