*,
::after,
::before {
  box-sizing: border-box;
}

header,
section,
footer {
  border: 1px solid blue;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul,
p,
li,
a {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
